# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large model files
*.pkl
*.joblib
*.h5
*.keras

# Dataset
data/*.csv